<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <div class = 'todo-container'>
            <h2>To-Do List</h2>

        </div>
    </body>
</html>